h1 
{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

label 
{
    color: white;
    display: block;
    margin-bottom: 5px;
}

.form-container 
{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] 
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button 
{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover 
{
    background-color: #45a049;
}

.form-container h2 
{
    color: white;
    margin-bottom: 20px;
}